# Flutter Build
/build/
/gen/
/.dart_tool/
/.flutter-plugins
/.flutter-plugins-dependencies
/.packages

# Android studio
**/.idea/workspace.xml
**/.idea/$CACHE_FILE$

# Do not ignore Android dependencies to overcome bugs in the current Android Studio import for Flutter Android files
/.idea/libraries/Dart*
/.idea/caches
/.idea/assetWizardSettings.xml
