# Flutter Build
/build/
/gen/
/.gradle/
/local.properties
/.dart_tool/
/.flutter-plugins
/.flutter-plugins-dependencies
/.packages

# Android studio
**/.idea/workspace.xml

# Do not ignore Android dependencies to overcome bugs in the current Android Studio import for Flutter Android files
/.idea/libraries/Dart*
# **/.idea/libraries/*
# !**/.idea/libraries/KotlinJavaRuntime.xml
**/.idea/caches

